@font-face {
  font-family: 'getSchwifty';
  src: url('./fonts/getSchwifty.ttf') format('truetype'),
    url('./fonts/getschwifty-webfont.woff2') format('woff2'),
    url('./fonts/getschwifty-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* ! ========================ROOTING======================= */

html {
  font-size: 100%;
} /*16px*/

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* ! COLORS */

  /* ? GREY */
  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;

  /* ? REST OF THE COLORS */
  --black: #222;
  --white: #fff;
  --red-dark: #842029;
  --green-dark: #0f5132;
  --cyan: #00b5c9;

  /* ? FONTS */
  --headingFont: 'getSchwifty';
  --bodyFont: 'Montserrat', sans-serif;
  --small-text: 0.7em;

  /* ? REST OF THE VARIABLES */
  --bg-color: var(--grey-50);
  --textColor: var(--grey-900);
  --border-radius: 0.5rem;
  --letter-spacing: 1px;
  --transition: all 350ms ease-out;
  --max-width: 1170px;
  --fixed-width: 600px;

  /* ? BOX SHADOWS */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

body {
  background: radial-gradient(#fffac6, #e2e98f, #7ec251, #428859);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* ? BUTTONS */

.btn {
  cursor: pointer;
  background: var(--primary-500);
  color: var(--white);
  border: transparent;
  border-radius: var(--border-radius);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  display: inline-block;
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn-block {
  width: 100%;
}

.title {
  text-align: center;
}

.title h2 {
  margin-bottom: 0.25rem;
}

.title-underline {
  width: 7rem;
  height: 0.25rem;
  background: var(--primary-500);
  margin: 0 auto;
}

/* ! CONTAINER */

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.heading {
  height: 18rem;
  display: flex;
  align-items: center;
  background: url(../public/loading-portal.gif) no-repeat center;
  text-align: center;
  margin: 1.5rem;
}

.head-title {
  margin: 1.5rem 0 0 5rem;
  font-size: 5rem;
  color: var(--cyan);
  padding: 1rem;
  border-radius: var(--border-radius);
  text-shadow: 2px 2px 2px #80cf85, 4px 3px 2px #f3fee3;
}

/* ! LIST */

.characters-list {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.5rem;
  align-items: center;
  padding: 1rem;
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  cursor: pointer;
  transition: var(--transition);
}

.card:hover {
  box-shadow: var(--shadow-4);
}

.content {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.character-name {
  display: flex;
  align-items: center;
  min-height: 3.25rem;
  margin-bottom: 0.5rem;
  color: var(--cyan);
  text-shadow: 3px 3px 2px #80cf85, 4px 4px 2px #f3fee3;
  font-size: 2rem;
}

.long-name {
  font-size: 1.25rem;
}

.infos-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-infos {
  margin-top: 0.5rem;
  min-height: 11rem;
  transition: var(--transition);
}

.pastille {
  margin-left: 0.5rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.status,
.species,
.origin,
.location,
.gender {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.text {
  font-weight: 400;
}

/* ! IMAGE */

.img-container {
  width: 95%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.img {
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.card:hover .img {
  transform: scale(1.05);
}

/* ! MEDIAQUERIE */

@media screen and (max-width: 1300px) {
  .characters-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .content {
    text-align: center;
  }
}

@media screen and (max-width: 950px) {
  .heading {
    background: none;
  }

  .head-title {
    margin: 0;
  }

  .characters-list {
    grid-template-columns: 1fr;
  }
}
